<extend name="Common:edit"/>
<block name="css">
    <link href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
</block>
<block name="form">
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"> <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">所属权限</td>
                <td>
                    <div id="permission_ids"></div>
                    <ul id="treeDemo" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">角色描述</td>
                <td>
                    <textarea name="intro" cols="60" rows="4">{$intro}</textarea>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" class="status" value="1" name="status"/>是
                    <input type="radio" class="status"  value="0" name="status"/>否
                    <span   class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}"> <span
                        class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript">
        $(function(){
            //>>1.树的设置
            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback: {
                    onCheck:function(event, treeId, treeNode){
                        //获取到所有选中的节点
                        var nodes =treeObject.getCheckedNodes(true);
                        //循环出每一个节点, 将节点中的id存放在隐藏域中,然后放到 <div id="permission_ids"></div>
                        $('#permission_ids').empty();
                        $(nodes).each(function(){
                            $("<input name='permission_ids[]' type='hidden' value='"+this.id+"'/>").appendTo("#permission_ids");
                        });
                    }
                }
            };
            //准备树中需要的数据
            var zNodes ={$nodes};
            //将id为treeDemo的ul变为一个树, 返回值就是该树的对象
            var treeObject = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            treeObject.expandAll(true);

            //编辑时:
            <notempty name='id'>
            var permission_ids = {$permission_ids};
            $(permission_ids).each(function(){
                //根据每一个权限id,找到每一个权限然后打钩
                var node = treeObject.getNodeByParam('id',this);
                //node:需要选中的节点, 第一个true: 表示选中,  第二个false:表示不关联, 第三true: 表示选中时激活事件
                treeObject.checkNode(node,true,false,true);
            });
            </notempty>
        });
    </script>
</block>
